.login{
    background-color: rgb(255, 229, 195);
}
.loginForm{
    width: 20rem;
    height: 23rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 10px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}