.resturantsHeader{
    height: 5rem;
    color: white;
    font-size: 1.5rem;
    background-color: mediumseagreen;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}