.sidebar{
    width: 15rem;
    background-color: #DE306F;
    position: fixed;
    padding: 0.5rem 0.5rem 0.5rem 0;
    display: flex;
    justify-content: center;
}
.LogoPosition{
    height: 60px !important;
}
.brandName{
    font-size: 2rem;
    padding: 0 20px;
}
  .li{
    list-style: none;
    cursor: pointer;
    height: 45px;
    width: 14rem;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    padding-right: 20px ;
    color: white;
    text-decoration: none;
  }
  .activeMenu{
    position: relative;
    height: 45px;
    width: 14rem;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 0px 25px 25px 0;
    color: #a01447 !important;
    text-decoration: none;
  }
  .li:hover{
    position: relative;
    height: 45px;
    width: 14rem;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 0px 25px 25px 0;
    color: #a01447 !important;
  }
  
  .li:hover::before , .activeMenu::before{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -50px;
    left:0;
    height: 50px;
    width: 25px;
    border-top-left-radius:50px;
    box-shadow: 0 -25px 0 0 #f7f7f7;
    color: black ;
  }
  .li:hover::after , .activeMenu::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 45px;
    left:0;
    height: 50px;
    width: 25px;
    border-top-left-radius:50px;
    box-shadow: 0 -25px 0 0 #f7f7f7;
    transform: rotateX(180deg);
    color: black ;
  }
  .support{
    background-color: #a01447;
    width: 12rem !important;
    height: 10rem;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    color: white;
  }
.main{
  width: calc(100% - 15rem) !important;
  height: 100%;
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebarMenuIcon{
  margin-left: 0.3rem;
}
  /*Header*/
  .Header{
    width: 100% !important;
    height: 4rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: #000;
    box-shadow: 0 0 5px gray;
    padding: 1rem;
  }